/*Colors
Blue: #4484CE
Orange: #FFA81E
Green: #5C4ED4
*/

html{
  position: relative;
  min-height: 100%;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
p{
  font-family: 'Open Sans', sans-serif;
}
a.button{
  text-decoration: none;
  color: white;
}
h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 50px;
  text-transform: uppercase;
}
h2{
  font-family: 'Shrikhand', cursive;
  font-size: 40px;
  color: #FFA81E;
  margin-left: -15%;
}
h3{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-left: -5%;
  border-bottom-style: solid;
  border-color: rgb(200, 200, 200);
  border-width: 1px;
}
h4{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
}
h5{
  font-family: 'Kavivanar', cursive;
  font-size: 15px;
  padding: 1%;
}
th, td {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    vertical-align: text-top;
}
td.center{
  text-align: center;
}
th{
  text-align: center;
}
table{
  width: 100%;
}
footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 50px;
  margin-bottom: -50px;
  width: 100%;
}
img.logo{
  bottom: 0;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.img-circle {
  border-radius: 50em;
  width: 250px;
  width: 100%
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a.green{
  background: #5C4ED4;
  color: white;
  height: 1px;
  padding-bottom: 1.8em;
  margin-bottom: 0.25em;
  width: 100px;
  font-size: 70%;
}
div.content{
  margin-left: 1%;
}
div.language{
  position: absolute;
  top: 0px;
}
.topborder{
  border-top-style: solid;
  border-color: rgb(200, 200, 200);
  border-width: 1px;
}
.sidebar {
  padding-top: 1%;
  background: #4484CE;
  color: #fff;
  text-align: center;
}
.l-box {
    padding: 1em;
}
.s-box{
  padding: 1%;
}
span.nowrap {
  white-space: nowrap ;
}
p.content{
  padding-right: 10%;
}
.flag {
	width: 16px;
	height: 11px;
	background-image:url('../img/flags.png');
  background-repeat: no-repeat;
}
.flag.flag-catalonia {background-position: -16px 0; display: inline-block;}
.flag.flag-es {background-position: -32px 0; display: inline-block;}
.flag.flag-gb {background-position: 0 -11px; display: inline-block;}
.flag.flag-us {background-position: -16px -11px; display: inline-block;}
/* Beginning of wrapper*/
.wrapper {
  cursor: help;
  position: relative;
  text-align: center;
  width: 200px;
  -webkit-transform: translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}
.wrapper .tooltip {
  background: #5C4ED4;
  bottom: 150%;
  color: #fff;
  display: block;
  left: -25px;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}
/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.wrapper .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  position: absolute;
  width: 100%;
}
/* CSS Triangles - see Trevor's post */
.wrapper .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #5C4ED4 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}
.wrapper:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}
/* IE can just show/hide with no transition */
.lte8 .wrapper .tooltip {
  display: none;
}
.lte8 .wrapper:hover .tooltip {
  display: block;
}
/* End of wrapper*/
@media screen and (max-width: 100em){
  h1{
    font-size: 35px;
  }
}
@media only screen and (max-width: 65em){
  h2{
    font-size: 32px;
    margin-left: 0%;
  }
  h3{
    margin-left: 0%;
  }
}
@media screen and (min-width: 48em){
  .sidebar {
    padding-top: 5%;
    position: fixed;
    top: 0;
    bottom: 0;
  }
  .nowrap-sm{
    white-space: nowrap ;
  }
  div.content{
    margin-left: 35%;
  }
  footer {
    width: 48%;
  }
  .banner{
    text-align: center;
  }
  div.language{
    right: 50px;
  }
}
@media screen and (max-width: 64em){
  h1{
    font-size: 25px;
  }
}
@media screen and (max-width: 80em), (max-height: 48em){
  img.img-circle {
    width: 150px;
  }
}
@media screen and (max-width: 48em), (max-height: 48em){
  h1{
    font-size: 35px;
  }
  .banner{
    text-align: left;
    padding-left: 5%;
  }
}
@media screen and (max-width: 568px) {
  .mobile-hide {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
  img.img-circle {
    width: 100px;
  }
  h2{
    font-size: 25px;
  }
}
@media screen and (min-width: 568px) {
  .desktop-hide{
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}
  table{
    width: 90%;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 2%;
  }
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
  tr {
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
	td {
		/* Behave  like a "row" */
    font-size: 15px;
		border: none;
		position: relative;
		padding-left: 50%;
	}
	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
}
