@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
  td:nth-child(even) {background-color: rgb(240, 240, 240);}
  td:nth-of-type(1):before {content: "Item"; text-align: center;}
  td:nth-of-type(2):before { content: "Description"; text-align: center;}
  td:nth-of-type(3):before { content: "Language"; text-align: center;}
  td:nth-of-type(4):before {content: "Type"; text-align: center;}
  td:nth-of-type(5):before {content: "Downloads"; text-align: center;}
}
